/* Page Loader */
.loader_custom{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Navbar */
.MuiBox-root .navbar_custom{
    background-color: rgba(45, 42, 42, 0.89);
}

/* Banner section */
.MuiBox-root .heading_text_custom{
    color: #d32e2e;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
}
.MuiBox-root .heading_para_custom{
    color: #ccc;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    /* text-align: center; */
    font-size: 15px;
}

/* link custom */
.link_custom{
    text-decoration: none;
}


/* blog details page */
.MuiBox-root .heading_details_custom{
    color: #5f3737;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 50px;
}
.MuiBox-root .details_para_custom{
    color: #bc4848;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 70px;
}

.blog_detail_header{
    color: #b05650;
    font-weight: 700;
}

.MuiCardContent-root .details_title{
    color: #874747;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.MuiCardContent-root .detail_para{
    color: #9a9595;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    /* font-weight: 800; */
}

/* create blog form page */
.create_blog_heading{
    text-align: center;
    padding-top: 100px;
    color: #ba5656;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 60px !important;
}
.createblog_custom {
    border-radius: 10px;
    max-width: 1000px;
    margin: 30px auto !important;
    padding: 16px 0;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    align-items: center;
}

.create_button_custom{
    color: #f5f5f5 !important;
    border: 2px solid transparent !important;
}

.create_button_custom:hover{
    color: #7a3131 !important;
    border-color: #b05650 !important;
    font-weight: 600;
    background-color: #e7dddd !important;
}

/* login */
.login_btn{
    margin: 10px 0px;
}
.login_section {
	margin-top: 150px;
}
.login_section .section-heading {
	text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.login-form{
    margin: 0 auto;
}

.login-form input {
	font-size: 14px;
	width: 100%;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}

.login-form input:focus {
	box-shadow: none;
	border: 1px solid #eee;
}

.login-form button.filled-button {
	background-color: #f33f3f;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
	border: none;
	outline: none;
	cursor: pointer;
}

.login-form button.filled-button:hover {
	background-color: #121212;
	color: #fff;
}

/* product part */
.addProd_btn{
    background-color: #bc4848;
    color: #fff;
    font-weight: 700;
}
.search_bar input{
    height: 38px;
    padding-left: 10px;
    border-bottom: 1px solid #121212;
}
.search_bar .search_btn{
    height: 38px;
}

.check_form{
    justify-content: space-between;
}

.add-form{
    margin: 0 auto;
}

.add-form input {
	font-size: 14px;
	/* width: 100%; */
	height: 44px;
	display: inline-block;
	/* line-height: 42px; */
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}
.add-form .check_input {
	font-size: 14px;
    margin-top: 15px;
	/* width: 100%; */
	/* height: 44px; */
	display: inline-block;
	/* line-height: 42px; */
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}

.add-form input:focus {
	box-shadow: none;
	border: 1px solid #eee;
}

.add-form button.filled-button {
	background-color: #f33f3f;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
	border: none;
	outline: none;
	cursor: pointer;
}

.add-form button.filled-button:hover {
	background-color: #121212;
	color: #fff;
}

/* footer section */
.footer {
    background-color: rgba(45, 42, 42, 0.89);
    padding-top: 5px;
    padding-bottom: 40px;
}

.copyright {
    margin-top: 70px;
    padding-top: 40px;
    color:#fff;
    font-size: 15px;
    border-top: 1px solid rgba(255,255,255,0.4);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.copyright a{color:#01c7e9;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#fff;}